.request{
    border: 2px solid rgb(228, 218, 218);
    display: flex;
    flex-direction: column;
    width: 35%;
    margin-left:auto;
    margin-right: auto;
}
.mybox{
    display: flex;
    flex-direction: column;
    margin-left:2rem;
    margin-right: auto;
}